

.search-container{


padding: 10px;
display :flex;

justify-content: center;

margin:0 auto;
}


.host-container{
background:#ffe080;
width: 50%;
min-width:300px;
padding: 5px;
border-radius: 5px;
}

.host{

 margin:10px;
}