.searchbox-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  padding: 30px 0;
  background: lightblue;
  left: -100%;
}
.form-search {
  background: purple;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchbox {
  width: 50%;
}
.gps {
  margin: 0 10px;
}
.search {
  margin: 0 10px;
}
