.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #ffe080;
  color: rgb(77, 77, 77);
  /* margin-left: -250px; */
  transition: all 0.5s;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #ffe080;
}

.sidebar-header h1 {
  /* font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold; */
  color: black; 
}

.nav-item:hover {
  color: #ffe080;
  background: #ffbb3cd5;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 70px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 1px;
}

