.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #ffe080;
  color: rgb(77, 77, 77);
  margin-top: 50px;
  margin-left: -250px;
  transition: all 0.5s;
  position: fixed;
}

.sidebar.is-open {
  margin-left: 0px;
  transition: 0.5s;
  /* position: fixed; */
}

.sidebar-header {
  background: #4b4944;
}

.sidebar-header h1 {
  /* font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold; */
  color: black; 
}

.nav-item:hover {
  color: #ffe080;
  background: #ffbb3cd5;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 1px;
}

@media only screen and (max-width: 500px) {
  /* body {
    overflow: hidden;
  } */

  .content.is-open {
    margin-left: 100%;
  }
  .sidebar{
    min-width: 100%;
    max-width: 100%;
    margin-left: -500px;
    margin-bottom: 3%;
    
  }
  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
    
  }

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}