/* @media only screen and (max-width: 400px) {
  .detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
  }
} */

.Button1 {
  width: 150px;
  position: absolute;
  right: 155px;
}

.Button2 {
  width: 180;
  position: absolute;
  right: 10px;
}

@media only screen and (max-width: 576px) {
  .Button1 {
    right: 155px;
  }
  .Button2 {
    right: 0px;
  }
  .fontSizeRepo {
    font-size: 20px;
  }
  .fontSizeRepo2 {
    font-size: 15px;
  }
  .fontSizeRepo3 {
    font-size: 23px;
  }

@media all and (max-width: 575px) {
  .mobile-br {
    display: inline;
    margin-top: 10px;
  }
  .Responsivedouble_br{
    display: inline;
  }
}
}
@media all and (min-width: 576px) {
  .mobile-br {
    display: none;
  }
  .Responsivedouble_br{
    display: none;
  }
}


@media only screen and (max-width: 399px) {
  .Button1 {
    right: 30px;
    margin-top: 10px;
  }
  .Button2 {
    right: 30px;
    margin-top: 25px;
  }
  .fontSizeRepo {
    font-size: 18px;
  }
  .fontSizeRepo2 {
    font-size: 12px;
  }
}

@media all and (max-width: 401px) {
  .mobile-br2 {
    display: inline;
  }
}
@media all and (min-width: 400px) {
  .mobile-br2 {
    display: none;
  }
}

@media only screen and (max-width: 499px) {
  element.style {
    max-width: 100vw;
  }
}

.navItem0{
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.navItem0:hover{
    background-color: grey;
}

.navItem1{
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.navItem1:hover{
    background-color: #5bc0de;
}

.navItem2{
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navItem2:hover{
    background-color: #0275d8;
}

.navItem3{
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navItem3:hover{
    background-color: #5cb85c;
}

.navItem4{
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navItem4:hover{
    background-color: #43978D;
}

.navItem5{
  background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navItem5:hover{
  background-color: #ffc107;
}

.navItem6{
  background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navItem6:hover{
  background-color: #f0ad4e;
}

.navItem7{
  background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navItem7:hover{
  background-color: #c82333;
}