.progressbar-container {
  max-width: 60vw;
  text-align: center;
}
.detail-container {
  max-width: 50vw;
  min-height: 30vh;
  background: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 10%;
  border: 5px solid #264d59;
  
}
@media screen and (max-width: 600px) {
  .progressbar-container {
    max-width: 100vw;
    text-align: center;
  }
  .detail-container {
    max-width: 100vw;
  }
  /* div.wrap {
    width: 100% !important;
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
  } */
}

/* div.wrap {
  width: 50vw;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
} */
/* 
label {
  position: absolute;
  top: 0;
  font-size: 25px;
  margin: 10px;
  margin-left: 35px;
  padding: 0 10px;
  top: -30px;
  color: #264d59;
  background-color: #fdf2ca;
} */
/* legend {
  background-color: #fdf2ca;
  padding-top: 3%;
  padding: 20px 50px;
  border: 5px solid #264d59;
}
p {
  font-size: 20px;
}
body{
    background-color: #fdf2ca;
} */

img.animated-gif{
  width: 100%;
  height: 30vh;
  border-radius: 25%;
  object-fit: contain;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .1s ease;
       -o-transition: height .1s ease;
          transition: height .1s ease;
}

@media only screen and (max-width: 499px){
  img.animated-gif{
    width: 100%;
    height: 25vh;
  }
  .fontSize_h2{
    font-size: 25px;
  }
}